PROJECT_NAME=neo4j-n10s

# Versions
NEO4J_VERSION=5.26.0
N10S_VERSION=5.26.0
JUPYTER_TAG=python-3.13

# Credentials
NEO4J_USER=neo4j
NEO4J_PASSWORD=test1234

# Ports
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
JUPYTER_PORT=8888

# Configurations
# Heap: Memory objetcts in Java
NEO4J_HEAP_INITIAL=1G
NEO4J_HEAP_MAX=2G
# Pagecache: Disk I/O caching
NEO4J_PAGECACHE=1G

# Plugins. NOTE: n10s installed via Dockerfile
NEO4J_PLUGINS_LIST=["apoc", "graph-data-science"]

# Whitelist 
NEO4J_SECURE_PROCS=apoc.*,gds.*,n10s.*